# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env

#Testing
.pytest_cache/
.coverage
htmlcov/
*.coverage

#Datos(carpetas)
shapefile_cache/

# IDEs
.vscode/
.theia/
.idea
*.swp
*.swo

#os 
.DS_store
Thumbs.db

#logs
*.log

#others
data/
old/
texts/
AGENTS.md

.ruff_cache/
.mypu_cache/
