# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
venv/
ENV/
.env

#Testing
.pytest_cache/
.coverage
htmlcov/
*.coverage

#Datos(carpetas)
shapefile_cache/

# IDEs
.vscode/
.theia/
.idea
*.swp
*.swo

#os 
.DS_stores
Thumbs.db

#logs
*.log

#others
data/
old/